#galeria {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

#galeria > div {
  flex: 45%;
  text-align: center;
}

.item {
  font-size: 3rem;
  width: 100%;
}