@use './container.scss';
@use './gallery.scss';
@import './variables.scss';

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
  font-size: $three-rm;
  font-weight: 700;
  color: $title-text;
}

h3 {
  font-size: $two-rm;
  font-weight: 400;
  color: $title-text;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  color: $text-color;
}

footer {
  font-size: 1.2rem;
  flex-flow: column nowrap;
}

li {
  color: $text-color;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;

  &:hover {
    color: $text-color;
  }
}

body {
  padding-top: 11rem;
  background-color: $body-background;
}

#container {
  max-width: $break-point-extra-extra-large;
  display: table;
  margin: 0 auto;
  background-color: white;
}

#logo_container {
  display: flex;
  justify-content: right;
  align-items: center;
}

#logo {
  max-height: 70%;
  max-width: 70%;
}

img {
  width: 100%;
  height: 100%;
}

header {
  top: 0;
  width: $break-point-extra-extra-large;
  display: flex;
  position: fixed;
  z-index: 9999;
  background-color: white;
}

.menu{
  width: 100vw;
  display: flex;
  padding: 4rem;
  border: 1rem;
  border-color: black;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: white;

  & li {
    list-style: none;
    display: inline;
    margin: $three-rm;
  }
}

.menu-mobile {
  display: none;
}

#img_inicio {
  width: 100%;
  display: flex;
  justify-content: center;

  & > div {
    width: 100%;
    aspect-ratio: 17 / 9;
  }
}

#container_redes {
  display: flex;
  justify-content: center;
  gap: 30rem;
}

.redes {
  flex-direction: row;
  flex-basis: 5rem;
  font-size: $two-rm;
  transition: font-size 0.8s, color 1.5s; 

  &:hover {
    font-size: $three-rm;
    color: $text-color;
  }
}

.container_titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  & > p {
    width: 75%;
    font-size: $two-rm;
  }
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}