$text-color: #35434f;
$title-text: #293845;
$body-background: rgb(212, 212, 212);
$breakpoint-x-small: 500px;
$break-point-large: 992px;
$break-point-extra-large: 1200px;
$break-point-extra-extra-large: 1400px;

$two-rm: 2rem;
$three-rm: 3rem;
