@media (max-width: 500px) {
  #container_redes {
    display: flex;
    justify-content: center;
    gap: 7rem;
}

  .redes {
    flex-direction: row;
    flex-basis: 5rem;
    font-size: 2rem;
    transition: font-size 0.8s, color 1.5s; 
  }
  
  .redes:hover {
    font-size: 3rem;
    color: #35434f;
  }
}


@media (max-width: 1200px) {
  body {
    padding-top: 14rem;
  }

  #logo_container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
  }

  #logo {
    box-sizing: content-box;
    padding: 2rem;
    max-height: 35%;
    max-width: 35%;
  }


  header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .menu-mobile {
    display: block;
  }

  .menu-mobile li a {
    color: white;
    font-size: 1.2rem;
  }

  header .menu {
    display: none;
  }
}

@media (max-width: 992px) {
  #container_redes {
    display: flex;
    justify-content: center;
    gap: 7rem;
  }
}
