@import '../variables.scss';

@mixin gridContainer--x-small() {
  .grid_container {
    display: flex;
    flex-direction: column;
    padding: $three-rm;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;

    & .hidden_mobile {
      display: none;
    }

    & .elements_grid > p {
      text-align: center;
    }
  }

  #div_contact h3 {
    font-size: 1.7rem;
  }

  form input,
  button {
    font-size: 1.7rem !important;
  }

  .info-with-icon {
    gap: 1rem;
  
    & > div {
      flex-basis: 100%;
      text-align: center;
    }
  
    & > div > img {
      width: 25%;
      margin: 0.5rem;
    }

    & > div > b {
      font-size: 1.2rem !important;
    }
  }

  .hidden_not_mobile {
    display: block;
    width: 100%;
  }
}

@mixin gridContainer--large() {
  .grid_container {
    display: flex;
    flex-direction: column-reverse;    
  }

  .hidden_not_mobile {
    display: block;
    width: 100%;
  }

  .info-with-icon {
    gap: 1rem;
  
    & > div {
      flex-basis: 100%;
      text-align: center;
    }
  
    & > div > img {
      width: 25%;
      margin: 0.5rem;
    }

    & > div > b {
      font-size: 1.2rem !important;
    }
  }
}